<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Introdução ao VUE JS</title>
	<!--<script src="htpps://unpkg.com/vue"></script>-->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

	<div id="app">
		
		<joh-title v-bind:titulo="nome"></joh-title>
		<p>
			<input type="text" v-model="nome" placeholder="Nome">
		</p>
		<p>Alterações: {{ contaAlterações }}</p>

		<joh-title titulo="Formulários"></joh-title>
		
		<p>Texto: {{texto}} </p>
		<p>
			<input type="text" v-model="texto">
		</p>
		
		<p>Textarea: {{textarea}} </p>
		<p style="white-space: pre-line;">Textarea: {{textarea}} </p>
		<p> 
			<textarea v-model="textarea" rows="8" cols="80"></textarea>
		</p>

		<p>Checkbox</p>
		<input type="checkbox" name="aceitarTermos" v-model="termos">
		<label for="aceitarTermos">{{ termos }}</label>

		<p>Multiple Checkboxes: {{ notificacoes }}</p>
		<p>
			<input type="checkbox" name="receberEmail" value="email" v-model="notificacoes">
			<label for="receberEmail">Receber Email</label>
			<input type="checkbox" name="receberSMS" value="sms" v-model="notificacoes">
			<label for="receberSMS">Receber Email</label>
		</p>
		
		<p>Radio: {{sexo}} </p>
		<p>
			<input type="radio" id="masculino" value="M" v-model="sexo">
			<label for="masculino">Masculino</label>
			<input type="radio" id="feminino" value="F" v-model="sexo">
			<label for="feminino">Feminino</label>
		</p>

	</div>

	<script type="text/javascript">

		Vue.component('joh-title',{
			props:['titulo'],
			template:'<h2>{{ titulo }}</h2>'
		});

		var app = new Vue({
			el:"#app",
			data:{
				nome:'titulo',
				contaAlterações:0,
				meuTitulo:'Esse é o meu title',
				texto:'',
				textarea:'',
				termos:true,
				notificacoes:[],
				sexo:null
			},
			watch:{
				nome:function(valor){
					this.contaAlterações++;
					this.nome = valor.toUpperCase();
				}
			}			
		});
	</script>

</body>
</html>